@teal: #25AAA0;
@blue-md: #0C98CF;
@blue-lt: #0AA0D9;
@steelGray: #6C6E70;
@black-lt: #2D3033;
@yellow-cool: #FFF568;

.profileImage{

}

.panel > .panel-heading {
    background-image: none;
    background-color: @blue-md;
    color: white;

}

.peopleCarouselImg{
  width: auto !important;
  max-height: 300px;
}

.carousel {
  max-height: 300px !important;
  overflow: hidden;

  .item img {
    width: auto;
    height: 300px;
  }
}
