<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.brandon.proconnect" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LogInScreen"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".RegisterPremiumUser"
            android:label="@string/title_activity_register_premium_user" >
        </activity>
        <activity
            android:name=".RegisterRegularUser"
            android:label="@string/title_activity_register_regular_user" >
        </activity>
        <activity
            android:name=".UserHomePage"
            android:label="@string/title_activity_user_home_page" >
        </activity>
        <activity
            android:name=".EditProfile"
            android:label="@string/title_activity_edit_profile" >
        </activity>
        <activity
            android:name=".ProconnectHomePage"
            android:label="@string/title_activity_proconnect_home_page" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
