@main("ProConnect"){
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/splash.min.css")">
<div class="container-fluid">


	<div class="row clearfix topSplash">
    <nav class="navbar navbar-inverse">
  				<div class="navbar-header">
  					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
  						<span class="sr-only">Toggle navigation</span>
  						<span class="icon-bar"></span>
  						<span class="icon-bar"></span>
  						<span class="icon-bar"></span>
  					</button>
  					<a class="navbar-brand" href="@securesocial.controllers.routes.LoginPage.login().absoluteURL()">ProConnect</a>
  				</div>
  				<div id="navbar" class="collapse navbar-collapse">
  			</div>
  		</nav>

      <div class="col-xs-3 column">
  		</div>
      <div class="col-xs-6 column">
				<h1 class ="header-text text-left"> ProConnect </h1>
				<h1 class ="text-center">Connect with Proffesionals</h1>
  		</div>
  		<div class="col-xs-3 column">
  		</div>
    </div>

	</div>
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div class="row clearfix">
					<div class="col-md-4 column">
						<h2>
							Getting Started
						</h2>
						<p>
							Our purpose is to connect with other proffesionals and share skill sets and accomplisments. Hiring managers and recruiters have the ability to search a compiled database of candidates that meet their criteria.
						</p>
						<p>
							<a class="btn" href="#">Get Started Here »</a>
						</p><img alt="140x140" src = "  http://proconnect.herokuapp.com/assets/images/proConnect.jpg " class="img-rounded" />
					</div>
					<div class="col-md-4 column">
					</div>
					<div class="col-md-4 column">
						<h2>
							Take proConnect with you
						</h2>
						<p>
ProConnect provides an Android application were users can disscuss and share experiences on the go.
						</p>
						<p>
							<a class="btn" href="#">View details »</a>
						</p><img alt="140x140" src=" http://www.smallbusinesscomputing.com/imagesvr_ce/9337/Technology_350.jpg" class="img-rounded" />
					</div>
				</div>
			</div>
		</div>
		<div class="row clearfix">
			<div class="col-md-4 column">
			</div>
			<div class="col-md-4 column">
			</div>
			<div class="col-md-4 column">
			</div>








      <div class="row clearfix">
        <div class="col-xs-3 column">
    		</div>
        <div class="col-xs-6 column">
          <h1 class ="text-center"></h1>
        </div>
        <div class="col-xs-3 column">
        </div>
      </div>
}
