@main("ProConnect"){
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/splash.min.css")">
<div class="container-fluid">


	<div class="row clearfix topSplash">
    <nav class="navbar navbar-inverse">
  				<div class="navbar-header">
  					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
  						<span class="sr-only">Toggle navigation</span>
  						<span class="icon-bar"></span>
  						<span class="icon-bar"></span>
  						<span class="icon-bar"></span>
  					</button>
  					<a class="navbar-brand" href="@securesocial.controllers.routes.LoginPage.login().absoluteURL()">ProConnect</a>
  				</div>
  				<div id="navbar" class="collapse navbar-collapse">
  			</div>
  		</nav>

      <div class="col-xs-3 column">
  		</div>
      <div class="col-xs-6 column">
        <h1 class ="header-text text-center">ProConnect</h1>
  		</div>
  		<div class="col-xs-3 column">
  		</div>
    </div>

      <div class="row clearfix">
        <div class="col-xs-3 column">
    		</div>
        <div class="col-xs-6 column">








       
                    <h3 style="color:green",class ="text-left">  <b> About us </b>
                    <p> 
                    Welcome to Proconnect, a professional networking service - a networking service that helps professional to connect with worlds of professions
                     </p>
</h3>
<p></p>
                    <h3 style="color:black",class ="text-left",style="font-size:200%"> <b>Mission</b>
                    <p>
                     Our Mission is to help people to create a profile and connect with other professionals, to join discussions, share experiences, and make announcements.
                    </p>
</h3> 
<p></p>

                   <h3 style="color:green",class ="text-left">  <b>Information</b>
                    <p> 
                   Procennect is publicly held and has a diversified business model
                    </p>
                    <p></p>
                    <p></p>
                    <p style="color:black">                  
                      For more information about our company, please visit our Company Page.
                      </p>
                    <p>
                      
                    </p>
                    <p></p>
             <p>
              For more information, please contact us at proconect.com.
             </p>
          
   </h3>

        </div>
        <div class="col-xs-3 column">
        </div>
      </div>
}
