@(forumItem: Forum)
@main("ProConnect") {
@navbar.render()


<div class="container-fluid">
	<div class="row clearfix">
	<div class="col-xs-3">

	</div>
	<div class="col-xs-6" style="margin-top: 20px;">
	<img src="@forumItem.imageUrl"/>
		<div class="feed-div" style="margin-top: 20px;">
				@if(forumItem.topicHeader != ""){
					<div class="panel panel-default">
						<div class="panel-body">
						<div>
							<h3 class="panel-title head-text feed-head">@forumItem.topicHeader</h3>
						</div>
						<br>
						<p style="padding-top: 10px;">@forumItem.body</p>
					</div>
				</div>
				}
		</div>

				<form role="form">
					<div class="form-group" style="margin-top: 15px;">
						 <label for="exampleInputComment">Comment Section</label><input class="form-control" id="commentSubmission" type="text" />
			 		<a href="#" ><button class="btn btn-default">Comment</button></a>
						</div>
					</form>

				</div>
				<div class="col-xs-3">

				</div>
		</div>
	</div>
}
