@(feedItems: List[FeedItem], user:UserModel, connections: List[UserModel])

@import helper._

@main("ProConnect") {
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/home.min.css")">


<div class="container-fluid" style="height: 100%;">
	<div class="row clearfix">
		@navbar.render()
	</div>


	<div class="row clearfix" style="height: 100%;">
		<div class="col-xs-3 column" style="padding-left: 0px; height: 100%;">
			<div class="profile-div">
				@if(user.profilePicture != null){
					<img class = "img-thumbnail profileImage" src="@routes.DbController.getProfilePic(user.email)" />
				}else{
					<img alt="140x140" class = "img-thumbnail profileImage" src="@routes.Assets.at("images/profile_holder.png")" />
				}
				<dl class="dl-horizontal">
					<dt>
					@if(user.userName != null){
						<p class="profile-text">@user.userName</p>
					}else{
						<p class="profile-text">Guest</p>
					}
					</dt>
					<dd>
					@if(user.currentEmployer != null){
					<p class="profile-text">@user.currentEmployer</p>
					}
					</dd>
					<dd>
					@if(user.recentSchool != null){
						<p class="profile-text">@user.recentSchool</p>
						}
					</dd>
				</dl>

		</div>
		</div>

		<div class="col-xs-6 column feed-container">
			<div class="feed-div">
			@for(feedItem <- feedItems){
				@if(feedItem.publish_date != ""){
					<a href="@feedItem.url" target="_blank" style="text-decoration: none;">
					<div class="panel panel-default">
						<div class="panel-body">
						<div>
							<img alt="" class="feed-image feed-head" src="@routes.Assets.at("images/tech.png")" />
							<h3 class="panel-title head-text feed-head">@feedItem.title</h3>
						</div>
						<br>
						<p style="padding-top: 10px;">@feedItem.summary</p>
						<p class="foot-text">@feedItem.publish_date  @feedItem.source</p>
					</div>
				</div>
				</a>
				}
			}
		</div>
		</div>
		<div class="col-xs-3 column" style="margin-top: 25px;">
			<div>
				<div class="panel panel-default">
				  <div class="panel-heading">Twitter Feed</div>
				  <div class="panel-body">
						@if(user.loginProvider == "twitter"){
						<ul class="list-group overflow-y-scroll tweetTable">
							  <li class="list-group-item">First item</li>
							  <li class="list-group-item">Second item</li>
							  <li class="list-group-item">Third item</li>
								<li class="list-group-item">First item</li>
							  <li class="list-group-item">Second item</li>
							  <li class="list-group-item">Third item</li>
							</ul>
						}else{

							<div class="input-group">
					      <input type="text" class="form-control" placeholder="Search Tweets">
					      <span class="input-group-btn">
					        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span>
						      </button>
					      </span>
					    </div>
							<p>Enter a query for a feed of recent tweets!</p>
						}
				  </div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">Connections</div>
					<div class="panel-body">
						@if(connections != null){
						<ul class="list-group overflow-y-scroll tweetTable">
							@for(connection <- connections){
								<a href="@routes.SearchController.loadSearchedProfile(connection.email)"><li class="list-group-item">@connection.userName</li></a>
							}
							</ul>
						}else{
							<p>Use the search bar to find friends and business associates.</p>
						}
					</div>
				</div>

			</div>
		</div>


		</div>

  </div>
</div>
}
