@(feedItem: FeedItem)

@import helper._

@main("ProConnect") {
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/home.min.css")">


<div class="container-fluid">
	<div class="row clearfix">
		@navbar.render()
	</div>

	<div class="row clearfix">
		<div class="col-xs-12 column">
		</div>
	</div>

	<div class="row clearfix">
		<div class="col-xs-2 column">
			<img alt="140x140" class = "img-thumbnail profileImage" src="http://i.imgur.com/PcoAz60.jpg?1" />

			<dl class="dl-horizontal">
				<dt>
					Matthew Hancock
				</dt>
				<dd>
					Beyond Prosthetics
				</dd>
				<dd>
					San Jose State University
				</dd>
			</dl>
		</div>

		<div class="col-xs-6 column clearfix">
				@if(feedItem.publish_date != ""){
					<p>@feedItem.publish_date</p>
					<p>@feedItem.source</p>
					<p>@feedItem.source_url</p>
					<p>@feedItem.summary</p>
					<p>@feedItem.title</p>
					<p>@feedItem.url</p>
				}

		</div>
		<div class="col-xs-4 column">
			<div>
				<div class="panel panel-default">
				  <div class="panel-heading">Twitter Feed</div>
				  <div class="panel-body">
						<ul class="list-group overflow-y-scroll tweetTable">
							  <li class="list-group-item">First item</li>
							  <li class="list-group-item">Second item</li>
							  <li class="list-group-item">Third item</li>
								<li class="list-group-item">First item</li>
							  <li class="list-group-item">Second item</li>
							  <li class="list-group-item">Third item</li>
							</ul>
				  </div>
				</div>
			</div>
		</div>


		</div>

  </div>
</div>
}
