@(message: String)
@(signUpFormData : Form[views.formData.signUpFormData])
@(lognFormData : Form[views.formData.loginFormData])

@import helper._

@main("ProConnect") {

	<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">ProConnect</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
			</div>
		</nav>

	<div class="background-image"></div>
	<div class="container">
	<div class="col-lg-2 col-md-2 col-sm-2"></div>

  @form(routes.DbController.signUpUser(), 'class -> "form-login col-lg-4 col-md-4 col-sm-4"){
	<div class="form-group">
		<h2 class="form-login-heading">Sign Up</h2>
				<input class="form-control"
				placeholder="Email Address"
				type="email"
				name="@signUpFormData("email").name"
				id="@signUpFormData("email").id"
				value="@signUpFormData("email").value"
			/>
		<input class="form-control"
				placeholder="Password"
				type="password"
				name="@signUpFormData("password").name"
				id="@signUpFormData("password").id"
				value="@signUpFormData("password").value"
			/>
		<input class="form-control"
				placeholder="Verify Password"
				type="password"
				name="@signUpFormData("passwordVerification").name"
				id="@signUpFormData("passwordVerification").id"
				value="@signUpFormData("passwordVerification").value"
			/>
		<div class="checkbox"><label><input type="checkbox" value="remember-me" />Remember Me</label>
		</div><button class="btn btn-success btn-lg btn-block" type="submit">Sign Up</button>
	</div>
	}

	@form(routes.DbController.loginUser(), 'class -> "form-login col-lg-4 col-md-4 col-sm-4"){
	<div class="form-group">
		<h2 class="form-signin-heading">Welcome</h2>
			<input class="form-control"
					placeholder="Email Address"
					type="email"
					name="@loginFormData("email").name"
					id="@loginFormData("email").id"
					value="@loginFormData("email").value"
				/>
			<input class="form-control"
					placeholder="Password"
					type="password"
					name="@loginFormData("password").name"
					id="@loginFormData("password").id"
					value="@loginFormData("password").value"
				/>

		<div class="checkbox"><label>
		<input type="checkbox" value="remember-me" />Remember Me</label></div>
		<button class="btn btn-primary btn-lg btn-block" type="submit">Login In</button>
		<h5 lass="form-signin-heading" style="color:red">@message</h5>
	</div>
	}
</div>
}
