
@(message: String,loginForm : Form[views.formData.loginFormData], signUpForm : Form[views.formData.signUpFormData])


@import helper._

@main("ProConnect") {
	<div class="container-fluid">
	<nav class="navbar navbar-inverse">

				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">ProConnect</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
			</div>
		</nav>

	<div class="background-image"></div>
	<div class="container">
	<div class="col-xs-2"></div>

  @form(routes.DbController.signUpUser(), 'class -> "form-login col-xs-4"){
	<div class="form-group">
		<h2 class="form-login-heading">Sign Up</h2>
				<input class="form-control"
				placeholder="Email Address"
				type="email"
				name="@signUpForm("email").name"
				id="@signUpForm("email").id"
				value="@signUpForm("email").value"
			/>
		<input class="form-control"
				placeholder="Password"
				type="password"
				name="@signUpForm("password").name"
				id="@signUpForm("password").id"
				value="@signUpForm("password").value"
			/>
		<input class="form-control"
				placeholder="Verify Password"
				type="password"
				name="@signUpForm("passwordVerification").name"
				id="@signUpForm("passwordVerification").id"
				value="@signUpForm("passwordVerification").value"
			/>
		<div class="checkbox"><label><input type="checkbox" value="remember-me" />Remember Me</label>
		</div><button class="btn btn-success btn-lg btn-block" type="submit">Sign Up</button>
	</div>
	}

	@form(routes.DbController.loginUser(), 'class -> "form-login col-xs-4"){
	<div class="form-group">
		<h2 class="form-signin-heading">Welcome</h2>
			<input class="form-control"
					placeholder="Email Address"
					type="email"
					name="@loginForm("email").name"
					id="@loginForm("email").id"
					value="@loginForm("email").value"
				/>
			<input class="form-control"
					placeholder="Password"
					type="password"
					name="@loginForm("password").name"
					id="@loginForm("password").id"
					value="@loginForm("password").value"
				/>

		<div class="checkbox"><label>
		<input type="checkbox" value="remember-me" />Remember Me</label></div>
		<button class="btn btn-primary btn-lg btn-block" type="submit">Login In</button>
		<h5 lass="form-signin-heading" style="color:red">@message</h5>
	</div>
	}
</div>
}
