@(user: Form[UserModel], userModel: UserModel)

@import helper._

@main("ProConnect"){
  @navbar.render

<link rel="stylesheet" href="@routes.Assets.at("stylesheets/editProfile.min.css")">

<div class="container-fluid">
	<div class="row clearfix">
    @helper.form(action = routes.DbController.saveUser, 'enctype -> "multipart/form-data"){

		<div class="col-xs-2 column logo-img img-div">

      @if(userModel.profilePicture != null){
        <img class = "img-thumbnail profileImage" src="@routes.DbController.getProfilePic(userModel.email)" />
      }else{
        <img alt="140x140" class = "img-thumbnail profileImage" src="@routes.Assets.at("images/profile_holder.png")" />
        }
        @helper.inputFile(user("profilePicture"), 'class -> "form-control", '_label -> "Upload/Change your profile image" )

    </div>
    <div class="col-xs-2 column">
    </div>
		<div class="col-xs-6 column" style="margin-top: 40px;">
				<div class="form-group break-after">
					 @helper.inputText(user("userName"), 'class -> "form-control", '_label -> "Name" )
           @helper.inputText(user("email"), 'class -> "form-control", '_label -> "Email Address", 'readonly -> "readonly" )
           @if(userModel.password == null || userModel.password == ""){
             @helper.inputText(user("password"), 'class -> "form-control", '_label -> "Password", 'type -> "password")
         }else{
             @helper.inputText(user("password"), 'class -> "form-control", '_label -> "Password",'type -> "password", 'readonly -> "readonly")
         }
           @helper.inputText(user("aboutMe"), 'class -> "form-control", '_label -> "Personal Headline" )
           @helper.inputText(user("location"), 'class -> "form-control", '_label -> "Location" )
           @helper.inputText(user("currentEmployer"), 'class -> "form-control", '_label -> "Current Employer" )
           @helper.checkbox(user("isPremium"), '_label -> "Check here for premium users")
           @helper.inputText(user("creditCard"), 'class -> "form-control", '_label -> "Credit Card Number (Required for Recruiters)")
				</div>

		</div>
    <div class="col-xs-2 column"></div>
	</div>
	<div class="row clearfix">
    <div class="col-xs-2 column logo-img"></div>
		<div class="col-xs-8 column">
          <div class="break-after">
            @helper.textarea(user("experience"), 'class -> "form-control", '_label -> "About Me", 'rows -> "4" )
          </div>
          <div class="break-after">
            @helper.textarea(user("experience"), 'class -> "form-control", '_label -> "Experience", 'rows -> "4" )
            <div>
              <button type="button" class="btn btn-info pull-right btn-xs" aria-label="left Align">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </button>
            <button type="button" class="btn btn-danger pull-right btn-xs" aria-label="left Align">
              <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
            </button>
          </div>
          </div>
          <div class="break-after">
              @helper.textarea(user("projects"), 'class -> "form-control", '_label -> "Projects Or Skills Highlight", 'rows -> "4" )
              <div>
                <button type="button" class="btn btn-info btn-xs pull-right" aria-label="right Align">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-danger btn-xs pull-right" aria-label="right Align">
                  <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                </button>

              </div>
            </div>
            <div class="break-after">
                @helper.textarea(user("education"), 'class -> "form-control", '_label -> "Education", 'rows -> "4" )
                <div>
                  <button type="button" class="btn btn-info pull-right btn-xs" aria-label="left Align">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                  </button>
                <button type="button" class="btn btn-danger pull-right  btn-xs" aria-label="left Align">
                  <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                </button>

              </div>
          </div>
          <button type="submit" class="btn save-button pull-right">Submit</button>
        </div>
      </div>
      <div class="col-xs-2 column bottom-div"></div>
    }
		</div>
}
