@(user:UserModel)

@import helper._


@main("ProConect"){
@navbar.render
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/profile.css")">


<div class="container">
  <div class="row clearfix">
    <div class="col-md-4 column img-div">
      @if(user.profilePicture != null){
        <img class = "img-thumbnail profileImage" src="@routes.DbController.getProfilePic(user.email)" />
      }else{
        <img alt="140x140" class = "img-thumbnail profileImage" src="@routes.Assets.at("images/profile_holder.png")" />
        }
        <a href="@routes.DbController.profileMain()">
          <div>
          <br />
          <button type="button" class="btn btn-success edit-button" name="editButton">Edit Profile</button>
        </div>
     </a>
        </div>


<br />
        <div class="col-xs-6 column">
          <div class="centerDiv" style="background-color: #FFFFFF;">
           @if(user.userName != null){
              <h4 class="nameText">@user.userName</h4>
            }else{
              <h4>Guest</h4>
            }
<br />
            @if(user.location != null){
                <p class="headText"syle="margin-top: -10px;">@user.location</p>
            }

            @if(user.currentEmployer != null){
                <p class="headText">@user.currentEmployer</p>
            }

            @if(user.recentSchool != null){
                <p class="headText">@user.recentSchool</p>
            }

            @if(user.headline != null){
              <p class="headText">@user.headline</p>
            }
          </div>
          <br /><br /><br />
    <div class="centerDiv" style="background-color: #FFFFFF;">
        <h2>
          About Me:
        </h2>
        @if(user.aboutMe != null){
          <p>
            @user.aboutMe
          </p>
        }
<br />
      <h2>
        Experience:
      </h2>
      @if(user.experience != null){
      <p>
        @user.experience
      </p>
      }
<br />
      <h2>
        Projects or Skills Highlight:
      </h2>
      @if(user.experience != null){
      <p>
        @user.projects
      </p>
      }
<br />
      <h2>
        Education:
      </h2>
      @if(user.experience != null){
      <p>
        @user.education
      </p>
      }
    </div>
    </div>
</div>
</div>
}
