@(user:UserModel)

@import helper._

<link rel="stylesheet" href="@routes.Assets.at("stylesheets/profile.min.css")">

@main("ProConect"){
@navbar.render


<div class="container">
  <div class="row clearfix">
    <div class="col-md-2 column img-div">
      @if(user.profilePicture != null){
        <img class = "img-thumbnail profileImage" src="@routes.DbController.getProfilePic(user.email)" />
      }else{
        <img alt="140x140" class = "img-thumbnail profileImage" src="@routes.Assets.at("images/profile_holder.png")" />
        }
        @if(user.userName != null){
              <h4>@user.userName</h4>
            }else{
              <h4>Guest</h4>
            }
      <a href="@routes.DbController.profileMain()">
          <div>
          <button type="button" class="btn btn-default edit-button" name="editButton">Edit Profile</button>
        </div>
     </a>

    </div>
    <div class="col-xs-2"></div>

    <div class="col-md-6 column" style="background-color: #FFFFFF;">
        @if(user.aboutMe != null){
          <h3>@user.headline</h3>
        }

      @if(user.currentEmployer != null){
          <h3>@user.currentEmployer</h3>
        }

      @if(user.location != null){
          <h3>@user.location</h3>
        }
    </div>
    <div class="col-xs-2"></div>
  </div>
  <div class="row clearfix">
    <div class="col-xs-4">

    </div>
      <div class="col-xs-8 column" style="background-color: #FFFFFF;">
        <h2>
          About Me
        </h2>
        @if(user.aboutMe != null){
          <p>
            @user.aboutMe
          </p>
        }

      </div>
  </div>
  <div class="row clearfix">
    <div class="col-xs-4">

    </div>
    <div class="col-xs-8 column" style="background-color: #FFFFFF;">
      <h2>
        Experience
      </h2>
      @if(user.experience != null){
      <p>
        @user.experience
      </p>
      }
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-xs-4">

    </div>
    <div class="col-xs-8 column" style="background-color: #FFFFFF;">
      <h2>
        Projects or Skills Highlight
      </h2>
      @if(user.experience != null){
      <p>
        @user.projects
      </p>
      }
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-xs-4">

    </div>

    <div class="col-xs-8 column" style="background-color: #FFFFFF;">

      <h2>
        Education
      </h2>
      @if(user.experience != null){
      <p>
        @user.education
      </p>
      }
    </div>
  </div>


</div>
}
