

@main("ProConnect") {
 @navbar.render



<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">

			<h3>
				Advanced People Search
			</h3>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						Relationship
					</h3>
				</div>
				<div class="panel-body">
					Compnaies
				</div>
				<div class="panel-footer">
					Location
				</div>
			</div>
			<ul class="pagination">
				<li>
					<a href="#">Prev</a>
				</li>
				<li>
					<a href="#">1</a>
				</li>
				<li>
					<a href="#">2</a>
				</li>
				<li>
					<a href="#">3</a>
				</li>
				<li>
					<a href="#">4</a>
				</li>
				<li>
					<a href="#">5</a>
				</li>
				<li>
					<a href="#">Next</a>
				</li>
			</ul>
		</div>
	</div>
</div>
}
