@main("ProConnect"){
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/splash.min.css")">

<div class="container-fluid">


	<div class="row clearfix topSplash">
    <!--<nav class="navbar navbar-inverse">
  				<div class="navbar-header">
  					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
  						<span class="sr-only">Toggle navigation</span>
  						<span class="icon-bar"></span>
  						<span class="icon-bar"></span>
  						<span class="icon-bar"></span>
  					</button>
  					<a class="navbar-brand" href="#">ProConnect</a>
  				</div>
  				<div id="navbar" class="collapse navbar-collapse">
  			</div>
  		</nav> -->

  		<div class="col-xs-3 column">
  		</div>
      <div class="col-xs-6 column" style="padding-top: 25px;">
				<div class="carousel slide" id="carousel-13062">
					<ol class="carousel-indicators">
						<li class="active" data-slide-to="0" data-target="#carousel-13062">
						</li>
						<li data-slide-to="1" data-target="#carousel-13062">
						</li>
						<li data-slide-to="2" data-target="#carousel-13062">
						</li>
					</ol>
					<div class="carousel-inner">
						<div class="item">
							<img class="img-responsive center-block" alt="" src="@routes.Assets.at("images/Networking.jpg")" />
							<div class="carousel-caption">
								<h4 class="carousel-text-white center-block">
									Engage Your Peers
								</h4>
							</div>
						</div>
						<div class="item">
							<img class="img-responsive center-block" alt="" src="@routes.Assets.at("images/business2.jpg")" />
							<div class="carousel-caption">
								<h4 class="carousel-text-black center-block">
									Get Connected
								</h4>
							</div>
						</div>
						<div class="item active">
							<img class="img-responsive center-block" alt="" src="@routes.Assets.at("images/proConnect.jpg")" />
							<div class="carousel-caption">
								<h4 class="carousel-text-black center-block">
									ProConnect
								</h4>
							</div>
						</div>
					</div> <a class="left carousel-control" href="#carousel-13062" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-13062" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
				</div>
        <!-- <h1 class ="header-text text-center">ProConnect</h1>
        <h3 class="text-center top-text">A New Way To Connect</h3> -->

  		</div>
  		<div class="col-xs-3 column">
  		</div>
	</div>
	<div class="row clearfix bottomSplash">
  		<div class="col-xs-3 column text-div">
        <!-- <image class="logo-img " src="@routes.Assets.at("images/proConnect.jpg")"> -->

  		</div>
      <div class="col-xs-6 column">
        <h3 class="text-center bottom-text">Come meet all the professionals already exploring
          what ProConnect has to offer. Take your professional network to the next level and
          get connected in a way you never thought possible.</h3>
        <a href="@securesocial.controllers.routes.LoginPage.login().absoluteURL()">
          <button class="btn center-block connect-button btn-lg">Get Connected</button>
        </a>
  		</div>
  		<div class="col-xs-3 column">
  		</div>
	</div>
</div>
}
